*{
    margin: 0;
    padding: 0;
}
header{
    height: 500px;
    background-color: skyblue;
    width: 100%;
    position: relative;
    z-index: -2;
}
.navbar{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(55, 175, 223);
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: right;
    align-items: center;
    position: fixed;
}
.navitem{
    list-style: none;
    border: 1px solid white;
    border-radius: 10px;
    margin: 5px;
    position: relative;
    right: 50px;
    
}
.navitem a{
    text-decoration: none;
    color: white;
    padding: 5px;
    text-transform: uppercase;
    display: block;
    
}
.navbar img{
    height: 50px;
    position: absolute;
    left: 25px;
}
.profile{

    width: 100%;
    display: flex;
    justify-content: right;  
    position: absolute;
    top: 70px;
    right: 5px;
    z-index: -1;
}
.profile img{
    width: 30%;
    display: block;
    display: flex;
    border: 5px solid gray;
    border-radius: 250px;
    
}

@media (max-width: 720px) {
    body {
      background-color: lightblue;
    }
        .profile img{

            width: 50%;
            display: flex;
            justify-content: right;  
            position: absolute;
            top: 30px;
            right: 5px;
            z-index: -1;
    }
}
.about{
    position: absolute;
    top: 50px;
    left: 5px;
    text-align: center;
}
.about h1{
    font-family: arial;
    color: white;
    text-align: center;
    font-size: 70px;
}
.about h2{
    font-family: arial;
    color: white;
    padding: 5px;
}
.about p{
    font-family: Arial;
    color: white;
    padding: 5px;
    line-height: 30px;
}
.nrn-color{
    color: rgb(66, 125, 250);
}